#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Collections', collections_path)
				= link_to("&#8592".html_safe + ' Back', root_path, class: 'pull-right')
		.row
			- @collections.each do |collection|
				.col-md-4
					- if collection.images.empty?
						= link_to(collection_path(collection)) do
							.item{:style => "background-image: url(image-not-available.jpg)"}
								.over
									%p
										#{collection.name}

					- else
						- collection.images.each do |image|
							- if image.cover == true
								= link_to(collection_path(collection)) do
									.item{:style => "background-image: url(#{image.file.url(:medium)})"}
										.over
											%p
												#{collection.name}

:javascript
	$("#jquery_jplayer_1").jPlayer({
		ready: function () {
			$(this).jPlayer("setMedia", {
				m4v: "assets/collections.mp4",
				webmv: "assets/collections.webm",
				poster: "assets/collections.jpg"
			}).jPlayer("play");
		},
		swfPath: "/js",
		supplied: "webmv, mp4",
		loop: true
	});