#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Interiors', interiors_path)
				%a.toggle-nav.pull-right
		.row
			- @interiors.each do |interior|
				.col-sm-4.col-md-4
					- if interior.images.empty?
						= link_to(interior_path(interior)) do
							.item{:style => "background-image: url(image-not-available.jpg)"}
								.over
									%p
										#{interior.name}

					- else
						- interior.images.each do |image|
							- if image.cover == true
								= link_to(interior_path(interior)) do
									.item{:style => "background-image: url(#{image.file.url(:medium)})"}
										.over
											%p
												#{interior.name}