#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Interiors', interiors_path)
				= link_to("&#8592".html_safe + ' Back', root_path, class: 'pull-right')
		.row
			- @interiors.each do |interior|
				.col-md-4
					- if interior.images.empty?
						= link_to(interior_path(interior)) do
							.item{:style => "background-image: url(image-not-available.jpg)"}
								.over
									%p
										#{interior.name}

					- else
						- interior.images.each do |image|
							- if image.cover == true
								= link_to(interior_path(interior)) do
									.item{:style => "background-image: url(#{image.file.url(:medium)})"}
										.over
											%p
												#{interior.name}

:javascript
	$("#jquery_jplayer_1").jPlayer({
		ready: function () {
			$(this).jPlayer("setMedia", {
				m4v: "assets/interior.mp4",
				webmv: "assets/interior.webm",
				poster: "assets/interiors.jpg"
			}).jPlayer("play");
		},
		swfPath: "/js",
		supplied: "webmv, mp4",
		loop: true
	});