.row
	.title.col-md-12
		= link_to('Interiors.', interiors_path)
		%p #{@interior.name}
	.col-md-12.thumbs
		.row#bx-pager
			- if @interior.images.empty?
				= link_to "#{image.file.url(:medium)}", class: 'col-md-3', data:{ toggle:'lightbox', gallery:'multiimages' } do
					.item{:style => "background-image: url(image-not-available.jpg)"}
			- else
				- @interior.images.each do |image|
					= link_to "#{image.file.url(:medium)}", class: 'col-md-3', data:{ title:@interior.name, toggle:'lightbox', gallery:'multiimages' } do
						.item{:style => "background-image: url(#{image.file.url(:medium)})"}
							.over
								%p
									+

							
:javascript
	$('.bxslider').bxSlider({
		pagerCustom: '#bx-pager'
	});