#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Styling', stylings_path)
				
				= link_to("&#8592".html_safe + ' Back', root_path, class: 'pull-right')

		.row
			.col-sm-4.col-md-4
				= link_to(lookbooks_stylings_path) do
					.item{:style => "background-image: image-url('lookbook.jpg')"}
						.over
							%p Lookbook
			.col-sm-4.col-md-4
				= link_to(performances_stylings_path) do
					.item{:style => "background-image: image-url('performances.jpg')"}
						.over
							%p Performances
			.col-sm-4.col-md-4
				= link_to(personal_stylings_path) do
					.item{:style => "background-image: image-url('personal.jpg')"}
						.over
							%p Personal

