.row.title
	.inside
		.row
			= link_to('Stylings.', stylings_path)
			- if @lookbook
				= link_to('Lookbook', lookbooks_stylings_path, class: 'sub active')
			- else
				= link_to('Lookbook', lookbooks_stylings_path, class: 'sub')

			- if @performances
				= link_to('Performances', performances_stylings_path, class: 'sub active')
			- else
				= link_to('Performances', performances_stylings_path, class: 'sub')

			- if @personal
				= link_to('Personal', personal_stylings_path, class: 'sub active')
			- else
				= link_to('Personal', personal_stylings_path, class: 'sub')
.row
	- @stylings.each do |styling|
		.col-md-4
			- if styling.images.empty?
				= link_to(styling_path(styling)) do
					.item{:style => "background-image: url(image-not-available.jpg)"}
						.over
							%p
								#{styling.name}

			- else
				- styling.images.each do |image|
					- if image.cover == true
						= link_to(styling_path(styling)) do
							.item{:style => "background-image: url(#{image.file.url(:medium)})"}
								.over
									%p
										#{styling.name}

