#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Music & Videos', releases_path)
				= link_to("&#8592".html_safe + ' Back', root_path, class: 'pull-right')
		.row
			- @releases.each do |release|
				.col-sm-4.col-md-4
					- if release.images.empty?
						= link_to(release_path(release)) do
							.item{:style => "background-image: url(image-not-available.jpg)"}
								.over
									%p
										#{release.name}

					- else
						- release.images.each do |image|
							- if image.cover == true
								= link_to(release_path(release)) do
									.item
										= image_tag(image.file.url(:medium))
										.over
											%p
												#{release.name}
		.row
			- @videos.each do |video|
				- if video.images.empty?
					= link_to "#{video.link}", class: 'col-sm-6 col-md-6', data:{ title:video.name, width:1080, toggle:'lightbox', gallery:'multiimages' } do
						.item{:style => "background-image: url(image-not-available.jpg)"}
							.over
								%p
									#{video.name}

				- else
					- video.images.each do |image|
						- if image.cover == true
							= link_to "#{video.link}", class: 'col-sm-6 col-md-6', data:{ title:video.name, width:1080, toggle:'lightbox', gallery:'multiimages' } do
								.item
									= image_tag(image.file.url(:medium))
									.over
										%p
											#{video.name}
