#jp_container_1.jp-video
	#jquery_jplayer_1
.container
	.row.content#primary-content
		.row.title
			.inside
				= link_to('Music & Videos', releases_path)
				%p #{@release.name} (#{@release.year})
				= link_to("&#8592".html_safe + ' Back', releases_path, class: 'pull-right')
		.row
			.col-sm-6.col-md-6.release-art
				#bx-pager
					- if @release.images.empty?
						= image_tag('image-not-available.jpg')
						.item{:style => "background-image: url(image-not-available.jpg)"}
					- else
						- @release.images.each do |image|
							= image_tag(image.file.url(:medium))
							
			.col-sm-6.col-md-6.release-info
				.row
					%h1 Tracklist
				.row
					= link_to('', @release.soundcloud_link, id: 'sc-player')

:javascript
	$(function() {
		$('#sc-player').scPlayer({
			apiKey: '7286cfd338dbd96f84442822cb74c99f'
		});
		$('#bx-pager').bxSlider({
			mode: 'fade',
			auto: true,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←'
		});
	});