!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				La Luli
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}", :id => "#{controller_name}"}
		.fixed-bg
		.navigation
			.vcenter
				= link_to(root_path) do
					= image_tag('menu_home.png')
				= link_to(about_index_path) do
					= image_tag('menu_about.png')
				= link_to(stylings_path) do
					= image_tag('menu_styling.png')
				= link_to(interiors_path) do
					= image_tag('menu_interior.png')
				= link_to(collections_path) do
					= image_tag('menu_collections.png')
				= link_to(releases_path) do
					= image_tag('menu_music.png')
			#jp_container_menu.jp-video
				#jquery_jplayer_menu
		%a.toggle-nav
			= image_tag('toggle-menu.png')
		= yield
	
:javascript
	$('body').jpreLoader({
		loaderVPos: '50%',
		autoClose: true,
		showPercentage: false,
	}, function() {
		$('#primary-content').addClass('loaded');
		$('.sc-player.playing a.sc-pause').click();
	});